{%extends "header.html"%}
{%block bananas%}

<div class="content-wrapper">
  <div class="intro">
    <div class="content">
      <p class="project-title"> cash maundy </p>
      <p> One of my biggest pet peeves is having a little bit of left over money on a tap up card. In my building,
        laundry costs $1.75 and you need to put a minimum of $10 on it so I got inspired to write this very simple React
        app to let me and other residents know the least amount of money to put on your card based on what's already on
        it to zero it out.</p>
      <p> Created with React and Express. </p>
      <a href="http://cashmaundy.herokuapp.com/" target="_blank"> Cash Maundy</a>
      <p></p>
      <a href="https://github.com/msbeethoven/final-laundry" target="_blank"> Source code</a>
    </div>
  </div>
</div>


{%endblock%}