{%extends "header.html"%}
{%block bananas%}

  <div class="content-wrapper">
    <div class="intro">
        <div class="content">
            <p class="project-title"> kulak </p>
            <p> Kulak is a tabletop game of chance and politics in which 4 or 5 players fight and negotiate over land. Each round pits a wealthy Baron against a group of Proletarians, who must decide if they will stand together or secretly join the Baron. IndieCade 2013 finalist. </p>
            <p></p>
            <p>Designed by Darren Caulley, Andrew Chen, Dalia Coss, Graham Parkes, Seori Sachs, Chelsea So, and Felicia Wong.</p>
            <a href="https://komradestudios.itch.io/kulak" target="_blank"> Kulak on itch.io </a>
            <p></p>
            <a href="https://indiecade.tumblr.com/post/61684037725/indiecade-nominee-highlight-kulak-by-comrade" target="_blank"> Indiecade media mention </a>
          </div>
    </div>
  </div>

{%endblock%}