{%extends "header.html"%}
{%block bananas%}

  <div class="content-wrapper">
    <div class="intro">
        <div class="content">
            <p class="project-title"> luke electric </p>
            <p>Freelance project in collaboration with another developer. Business website for Luke Electric, a New Jersey based electrician. </p>
            <p></p> 
            <p>Created with Vue.js. </p>
            <p>Designed and developed by Kim LaRocca and Seori Sachs.</p>
            <a href="https://lukeelectricnj.com/" target="_blank"> Luke Electric </a>
            <p></p>
            <a href="https://github.com/msbeethoven/luke-electric" target="_blank"> Source code </a>
          </div>
    </div>
  </div>

{%endblock%}