body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(6, 28, 41);
}

h1 {
  color: white;
}

p {
  color: white;
}

.container {
  margin: 0 auto;
  max-width: 2000px;
  padding: 0  1rem;
  /* align-items: center; */
  /* why doesnt this work?  */

}

.responsive-image {
  max-width: 100%;
}


.cell img {

  max-width: 250px;
  max-height: 250px;
  min-width: 250px;
  min-height: 250px;
  width: auto;
  height: auto;
}
/* .cell:before {
  content: '';
  position: absolute;
  top: 10%;
  bottom: 10%;
  right: -5%;
  left: -5%;
  background: inherit;
  border-radius: 5% / 50%;
} */

.cell {
  margin: 1rem;

}

#tv {
  position: relative;
 
  margin: 20px 0;
  background: black;
  border-radius: 50% / 10%;
  color:white;
  /* text-align: center;
  text-indent: .1em; */
}
#tv:before {
  content: '';
  position: absolute;
  top: 10%;
  bottom: 10%;
  right: -5%;
  left: -5%;
  background: inherit;
  border-radius: 5% / 50%;
}


@media screen and (min-width: 600px){
  .grid {
   display: flex;
   flex-wrap: wrap;
   flex-direction: row; 
   justify-content: center;
  }
  .cell {
    width: 50%;
  }
}

@media screen and (min-width: 1000px){
  .cell {
    width: calc(100%/5);
  }
}

