{%extends "header.html"%}
{%block bananas%}

<div class="content-wrapper">
  <div class="intro">
    <div class="content">
      <p class="project-title"> thoughts and prayers </p>
      <p>
        Thoughts and Prayers is the marriage of the ad-lib nature of Twitter statements and a reflection on the ease of
        creating sentiment in response to complex events. Presented at Creative Coding NYC.
      </p>
      <p> Created with Processing and spaCy.</p>
      <a href="https://www.openprocessing.org/sketch/528377" target="_blank"> Thoughts and Prayers prototype</a>
      <p></p>
      <a href="https://www.youtube.com/watch?v=mWtNtvcDF4A" target="_blank"> Video of talk and discussion </a>
    </div>
  </div>
</div>


{%endblock%}