html {
  background-color: white;
  
}
.container {
  margin: 0 auto;
  max-width: 2000px;
  /* padding: 1rem; */
  filter: grayscale(20%);
}

.responsive-image {
  max-width: 100%;
}
  
.tv {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 20px 0;
    background-image:url(./public/cass.png);
    background-size: 250px 250px, cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50% / 10%;
    color: white;
    text-align: center;
    text-indent: .1em;
  }

.tv:before {
  content: '';
  position: absolute;
  top: 10%;
  bottom: 10%;
  right: -5%;
  left: -5%;
  background: inherit;
  border-radius: 5% / 50%;
}

.tv {
  margin: 1rem;
  transition: transform 10s;
}

.tv:hover{
  animation: animate .2s linear infinite;
}

@keyframes animate {
0%
{
  background-position: 0 0;
  filter: hue-rotate(0deg);
}
10%
{
  background-position: 5px 0;
}
20%
{
  background-position: -5px 0;
}
25%
{
  background-position: 15px 0;
}
30%
{
  background-position: -5px 0;
}
35%
{
  background-position: -25px 0;
}
40%
{
  background-position: -50px 0;
}

100%
{
  background-position: 0 0;
  filter: hue-rotate(360deg);
}
}

@media screen and (min-width: 600px){
  .grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; 
    justify-content: center;
    transition: transform 10s;
    transition: width 1s, right 1s, top 1s, left 1s, margin 1s;
  }
}

.clickBox {
  visibility: hidden;
  position: fixed;
  width: 25vw;
  color: #d33682;
  background-color: rgba(7, 54, 66, 0.95);
  font-family: 'Courier New', Courier, monospace;
  padding: 1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.summary {
  color: #93a1a1;
}

.link {
  color: #6c71c4;
}

.close{
  font-size: 10px;
  color: #eee8d5;
}