{%extends "header.html"%}
{%block bananas%}

  <div class="content-wrapper">
    <div class="intro">
        <div class="content">
            <p class="project-title"> seori </p>
            <p> is a developer working in JavaScript and Python. </p>
            <p> Appreciates a cool API, narrative games, and code art. </p>
            <p> From a stormy seaside village where the townsfolk were always angry. </p>
            <ul class="about-links">
              <li> <a href="https://github.com/msbeethoven" target="_blank"> github </a> </li>
              <li> <a href="https://instagram.com/msbeethoven" target="_blank"> instagram </a> </li>
              <li> <a href="mailto:seori@nyu.edu"> email </a> </li>
            </ul>
          </div>
    </div>
  </div>

{%endblock%}