{%extends "header.html"%}
{%block bananas%}

  <div class="content-wrapper">
    <div class="intro">
        <div class="content">
            <p class="project-title"> coding is magic </p>
            <p>Educational game targeted at young beginner programmers, where players learn basic computer programming paradigms aided by visual coding language and a sheep friend. </p>
            <p>Created with Unity game engine, Google Blockly, React, and hosted by Firebase. </p>
            <p>Created by Hannah Barton, Melissa Dumont, Elizabeth Fawcett, Seori Sachs (mainly Unity and React dev).</p>
            <p></p> 
            <a href="https://coding-is-magic.firebaseapp.com/" target="_blank"> Coding is Magic </a>
            <p></p>
            <a href="https://github.com/gh1809-coding-is-magic/coding-is-magic" target="_blank"> Source code</a>
          </div>
    </div>
  </div>

{%endblock%}