{%extends "header.html"%}
{%block bananas%}

  <div class="content-wrapper">
    <div class="intro">
        <div class="content">
            <p class="project-title"> rocks for shale</p>
            <p>Psuedo e-commerce site where users can buy construction site materials.</p>
            <p></p> 
            <p>Created with React, Stripe API, and hosted by Heroku. </p>
            <p>Created by Hannah Barton, Jolene Langlinais, Hannah Rogers, Seori Sachs (React dev).</p>
            <a href="https://rocks-4-shale.herokuapp.com/" target="_blank"> Rocks for Shale</a>
            <p></p>
            <a href="https://github.com/Rocks4Shale/Rocks4ShaleGS/" target="_blank"> Source code </a>
          </div>
    </div>
  </div>




{%endblock%}